@model IEnumerable<TblProduct>
@{
    ViewData["Title"] = ViewData["Title"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{

    <link href="~/css/pages/search.min.css" rel="stylesheet" />

}

@section Aside{

    <form asp-action="/Search" swap="filter" class="mat-card col">
        <h4 class="uk-margin-bottom">
            فیلتر ها
        </h4>

        <div class="fg-col">
            <div class="fg-label">نام محصول</div>
            <input type="text" class="entry" name="name"  value="@ViewData["name"]"/>
            <div class="text-danger"></div>
        </div>
        <input type="hidden" class="entry" name="q" value="" />

        <div class="fg-col">
            <div class="fg-label">برند محصول</div>
            @{
                List<TblBrand> listBrand = ViewData["brandList"] as List<TblBrand>;
            }
            <select class="entry" name="brand">
                @foreach (var item in listBrand)
                {
                    <option>@item.Name</option>
                }
            </select>
            <div class="text-danger"></div>
        </div>

        <div class="fg-col">
            <label class="fg-label">قیمت</label>
            <div class="rowr uk-child-width-1-2">
                <div class="col">
                    <input type="number" class="entry uk-margin-small-left" aria-label="priceFrom" placeholder="از" name="minPrice" value="@ViewData["minPrice"]" />
                    <div class="text-danger"></div>
                </div>
                <div class="col">
                    <input type="number" class="entry" aria-label="priceTo" placeholder="تا" name="maxPrice"  value="@ViewData["maxPrice"]"/>
                    <div class="text-danger"></div>
                </div>
            </div>
        </div>

        <label class="text-2 rowr uk-margin-small-bottom">
            <input class="uk-checkbox" type="checkbox" name="available" />
            فقط کالا های موجود
        </label>

        <label class="text-2 rowr uk-margin-small-bottom">
            <input class="uk-checkbox" type="checkbox" name="discount" />
            فقط کالا های تخفیف دار
        </label>

        <button class="btn btn-primary uk-margin-top">اعمال فیلتر ها</button>

    </form>

    <div swap="Ad"> @await Component.InvokeAsync("AdView")</div>

}

<div role="none" id="filter"></div>

<div class="search-grid form">
    <div class="form-header">

        <div class="rowr">

            <nav class="breadcrumb uk-padding-remove">
                <a href="#">جستجو</a>
                <a href="#">@ViewData["Title"]</a>
            </nav>

        </div>

    </div>
    <div class="grid">
        @foreach (var item in Model)
        {
            <partial name="_ProductBlock" model="item" />
        }
    </div>
</div>

<div role="none" id="Ad"></div>

@if (Model.Any())
{
    <div class="loading">
        <img src="~/st/v/loading.svg" />
    </div>
}