@model IEnumerable<TblProduct>
@{
    ViewData["Title"] = ViewData["Title"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{

    <link href="~/css/pages/search.min.css" rel="stylesheet" />
    <link href="~/datePersion/persianDatepicker-default.css" rel="stylesheet" />
}

@section Aside{
    @*@await Component.InvokeAsync("SearchView")*@
    <form action="/Search" swap="filter" class="mat-card col">
        <h4 class="uk-margin-bottom">
            فیلتر ها
        </h4>

        <div class="fg-col">
            <div class="fg-label">نام محصول</div>
            <input type="text" class="entry" name="name" value="@ViewData["name"]" />
            <div class="text-danger"></div>
        </div>
        <input type="hidden" class="entry" name="q" value="" />

        <div class="fg-col">
            <div class="fg-label">برند محصول</div>
            @{
                List<TblBrand> listBrand = ViewData["brandList"] as List<TblBrand>;
            }
            <select class="entry brandList" name="brand">
                @foreach (var item in listBrand)
                {
                    <option value="@item.BrandId">@item.Name</option>
                }
            </select>
            <div class="text-danger"></div>
        </div>

        <div class="fg-col">
            <label class="fg-label">قیمت</label>
            <div class="rowr uk-child-width-1-2">
                <div class="col">
                    <input type="number" class="entry uk-margin-small-left" aria-label="priceFrom" placeholder="از" name="minPrice" value="@ViewData["minPrice"]" />
                    <div class="text-danger"></div>
                </div>
                <div class="col">
                    <input type="number" class="entry" aria-label="priceTo" placeholder="تا" name="maxPrice" value="@ViewData["maxPrice"]" />
                    <div class="text-danger"></div>
                </div>
            </div>
        </div>

        <div class="fg-col">
            <label class="fg-label">تاریخ ثبت</label>
            <div class="rowr uk-child-width-1-2">
                <div class="col">
                    <label class="fg-label text-4">از تاریخ</label>
                    <input type="text" readonly onfocusout="checkDate(this)" lang="fa" class="entry uk-margin-small-left" aria-label="priceFrom" placeholder="mm/dd/yyyy" id="minDate" name="minDate" value="@ViewData["minDate"]" autocomplete="off" />
                    <div class="text-danger"></div>
                </div>
                <div class="col">
                    <label class="fg-label text-4">تا تاریخ</label>
                    <input type="text" readonly onfocusout="checkDate(this)" lang="fa" class="entry" aria-label="priceTo" placeholder="mm/dd/yyyy" id="maxDate" name="maxDate" value="@ViewData["maxDate"]" autocomplete="off" />
                    <div class="text-danger"></div>
                </div>
            </div>
        </div>

        <label class="text-2 rowr uk-margin-small-bottom">
            <input class="uk-checkbox" type="checkbox" @(((bool)ViewData["available"] == true) ? "checked" : "") id="available" name="available" />
            فقط کالا های موجود
        </label>

        <label class="text-2 rowr uk-margin-small-bottom">
            <input class="uk-checkbox" type="checkbox" id="isFractional" @(((bool)ViewData["IsFractional"] == true) ? "checked" : "") name="isFractional" />
            فقط فروش های اقساطی
        </label>

        <label class="text-2 rowr uk-margin-small-bottom">
            <input class="uk-checkbox" type="checkbox" @(((bool)ViewData["discount"] == true) ? "checked" : "") id="discount" name="discount" />
            فقط کالا های تخفیف دار
        </label>
        <button class="btn btn-primary uk-margin-top">اعمال فیلتر ها</button>
    </form>

    <div swap="Ad"> @await Component.InvokeAsync("AdView")</div>

}

<div role="none" id="filter"></div>

<div class="search-grid form">
    <div class="form-header">

        <div class="rowr">

            <nav class="breadcrumb uk-padding-remove">
                <a href="#">جستجو</a>
                <a href="#">@ViewData["Title"]</a>
            </nav>

        </div>

    </div>
    <div class="grid">
        @foreach (var item in Model)
        {
            <partial name="_ProductBlock" model="item" />
        }
    </div>
</div>

<div role="none" id="Ad"></div>

@if (Model.Any())
{
    <div class="loading">
        <img src="~/st/v/loading.svg" />
    </div>
}

<input type="hidden" id="brandId" value="@ViewData["brand"]" />
@section Scripts{
    <script src="~/datePersion/prism.js"></script>
    <script src="~/datePersion/persianDatepicker.js"></script>
    <script>
        $('.brandList').val($('#brandId').val());
        $(function () {
            //selectedBefor & selectedDate
            $("#minDate").persianDatepicker();
            $("#maxDate").persianDatepicker();
        });
    </script>

    <script>
        function checkDate(input) {
            let val = input.value;
            let lbl = input.parentElement.querySelector('.text-danger');

            if (!val) {
                lbl.innerText = '';
                return true;
            }

            const a = Date.parse(val);

            if (isNaN(a)) {
                lbl.innerText = 'تاریخ درست وارد نشده است';
                return false;
            } else {
                lbl.innerText = '';
                return false;
            }
            return true;
        }
    </script>
}