@model TblStore
@{
    ViewData["Title"] = "نمایندگی ها شعبه- " + Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{

    <link href="~/css/pages/affiliate.min.css" rel="stylesheet" />
    <link href="~/css/leaflet.css" rel="stylesheet" />

}

@section Aside{

    @await Component.InvokeAsync("StoreView")
}

<nav class="breadcrumb uk-padding-remove">
    <a href="/Affiliate">شعب ما</a>
    <a href="#" class="active"> @Model.Name</a>
</nav>

<div class="mat-card">
    <h3>
        @Model.Name
    </h3>
    <p>
        @Html.Raw(Model.Body)
    </p>
    <div class="rowr g-3">
        <button class="btn btn-secondary" onclick="share(location.href,'@Model.Name')">
            <span>اشتراک گذاری</span>
            <span uk-icon="share-social-outline"></span>
        </button>
        <a class="btn btn-secondary" href="tel:@Model.TellNo">
            <span>@Model.TellNo</span>
            <span uk-icon="call-outline"></span>
        </a>
    </div>
</div>

<div id="map" class="uk-box-shadow-medium">

</div>

<img src="~/Images/Store/@Model.MainImage" width="800" height="360" class="mat uk-width-1-1" alt="عکس شعبه" />

<div role="none" id="swAffiliates"></div>

<input type="hidden" id="lat" value="@Model.Lat" />
<input type="hidden" id="lon" value="@Model.Lon" />
<input type="hidden" id="Name" value="@Model.Name" />
<input type="hidden" id="Address" value="@Model.Address" />



@section Scripts{

    <script src="~/js/leaflet.js"></script>

    <script>
        var map = L.map('map').setView([38.07674409597339, 46.29700302496196], 12);

        L.tileLayer('https://a.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);


        var iconSetting = L.Icon.extend({
            options: {
                iconSize: [32, 32],
                iconAnchor: [16, -8]
            }
        });

        var customIcon = new iconSetting({ iconUrl: '/marker.svg' });

        var theMarker = {};

        theMarker = L.marker(
            [$("#lat").val(), $("#lon").val()],
            { icon: customIcon })
            .addTo(map).bindPopup(
                `<div class="aff-marker"><h4>${$("#Name").val()}</h4><p>${$("#Address").val()}</p></div>`
            ).openPopup();

    </script>

}