@model TblProduct
@{
    ViewData["Title"] = Model.Name;
    ViewData["Single"] = true;
    ViewData["Keywords"] = string.Join(',', Model.TblProductKeywordRel.Select(i => i.Keyword.Name));
    //ViewData["Description"] = Model.Name "-" Model.Brand.Name - Model.Catagory.Name;
}

@section Styles{
    <link href="~/css/pages/product.min.css" rel="stylesheet" />
}

<nav class="breadcrumb">
    <a href="">کالا</a>
    <a href="">@Model.Brand.Name</a>
    <a href="#" class="active">@Model.Name</a>
</nav>

<div class="pr mat-card">
    <div class="pr-title col">
        <h1 class="uk-h4" dir="rtl">
            @Model.Name
        </h1>
        <div class="rowr uk-margin-top">
            <span class="row" dir="rtl">
                <span class="uk-margin-small-left">برند:</span>
                <a href="#">@Model.Brand.Name</a>
            </span>
            <span class="row uk-margin-right" dir="rtl">
                <span class="uk-margin-small-left">دسته:</span>
                <a href="#">@Model.Catagory.Name</a>
            </span>
            <span class="row uk-margin-right" dir="rtl">
                <span class="uk-margin-small-left">کد:</span>
                <a href="#">#@Model.ProductId</a>
            </span>
        </div>
    </div>

    <div class="pr-image">
        <div class="head">

        </div>
        <div uk-slideshow="animation: slide; ratio:1:1">
            <div class="border">
                <div class="slider">
                    <ul class="img uk-slideshow-items" uk-lightbox="animation: slide">
                        <li>
                            <a href="~/Images/ProductMain/@Model.MainImage">
                                <img src="~/Images/ProductMain/@Model.MainImage" alt="" uk-cover>
                            </a>
                        </li>
                        @foreach (var item in Model.TblProductImageRel)
                        {
                            <li>
                                <a href="~/Images/ProductAlbum/@item.Image.Image">
                                    <img src="~/Images/ProductAlbum/@item.Image.Image" alt="" uk-cover>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="foot">

                    <div class="left">
                        <label class="action" uk-tooltip="افزورن به لیست مقایسه" uk-icon="contrast">
                            <input name="comparison"
                                   onchange="comparisonChanged(this)"
                                   type="checkbox" onclick="AddToCompare(@Model.ProductId)" />
                        </label>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <label class="action @((ViewBag.IsBookMark)?"checked":"")" uk-tooltip="افزودن به لیست علاقه مندی ها" uk-icon="bookmark-outline">
                                <input name="favourites"
                                       onchange="favouritesChanged(this)"
                                       type="checkbox" />
                            </label>
                        }
                        else
                        {
                            <label class="action" onclick="window.location='/Login'" uk-tooltip="افزودن به لیست علاقه مندی ها" uk-icon="bookmark-outline">
                                <input name="favourites" type="checkbox" />
                            </label>
                        }


                    </div>
                    <div class="right">
                        <button class="action" uk-tooltip="اشتراک گذاری" onclick="share(window.location.href)"
                                uk-icon="share-social-outline"></button>
                        @*<label class="action" uk-tooltip="فعال کردن اعلان ها" uk-icon="notifications-outline">
                                <input name="notifications"
                                       onchange="notificationschanged(this)"
                                       type="checkbox" />
                            </label>*@
                    </div>
                </div>
            </div>
            <div class="thumbnav uk-margin-small-top">
                <ul class="uk-thumbnav">
                    <li uk-slideshow-item="0"><a href="#"><img src="~/Images/ProductMain/@Model.MainImage" alt=""></a></li>
                    @foreach (var item in Model.TblProductImageRel)
                    {
                        <li uk-slideshow-item="@(Model.TblProductImageRel.ToList().IndexOf(item)+1)"><a href="#"><img src="~/Images/ProductAlbum/@item.Image.Image" alt=""></a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="pr-content col">
        <div class="body">
            @Html.Raw(Model.DescriptionShortHtml)
        </div>
        <div class="price">

            @if (Model.PriceAfterDiscount == 0)
            {
                <h3 class="actual">
                    @Model.PriceBeforeDiscount.Value.ToString("#,0")
                    <span class="t">ريال</span>
                </h3>
            }
            else
            {
                <h4 class="discount">
                    @Model.PriceBeforeDiscount.Value.ToString("#,0")
                </h4>
                <h3 class="actual">
                    @Model.PriceAfterDiscount.Value.ToString("#,0")
                    <span class="t">ريال</span>
                </h3>
            }

        </div>
        <div class="colours">
            <h4>رنگ بندی</h4>
            <ul class="grid">
                @foreach (var item in Model.TblColor.Where(i => i.Count > 0))
                {
                    if ((Model.TblColor.ToList().IndexOf(item)) == 0)
                    {
                        <li>
                            <input type="hidden" name="ProductColorId" id="ProductColorId" value="@item.ColorId" />
                        </li>
                        <li>
                            <div class="clr active" onclick="selectColour(this)">
                                <span>@item.Name</span>
                                <strong style="background-color: @item.ColorCode"></strong>
                                <input type="hidden" name="ColorId" value="@item.ColorId" />
                            </div>
                        </li>
                    }
                    else
                    {
                        <li>
                            <div class="clr" onclick="selectColour(this)">
                                <span>@item.Name</span>
                                <strong style="background-color: @item.ColorCode"></strong>
                                <input type="hidden" name="ColorId" value="@item.ColorId" />
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>
        <div class="cart uk-margin-top">
            @*<div class="counter rowr">
                    <button class="plus" uk-icon="add"></button>
                    <span class="count">
                        <span>16</span>
                    </span>
                    <button class="minus" uk-icon="remove"></button>
                </div>*@

            @if (Model.TblColor.Sum(i => i.Count) > 0)
            {
                <button class="button" onclick="AddToCart(@Model.ProductId)">
                    <span>افزودن به سبد خرید</span>
                    <span uk-icon="cart"></span>
                </button>
            }
            else
            {


                @if (User.Identity.IsAuthenticated)
                {
                    <button class="button" onclick="alertWhenReady(@Model.ProductId)">
                        <span>موجود شد به من اطلاع بده</span>
                        <span uk-icon="notifications"></span>
                    </button>
                }
                else
                {
                    <button class="button" onclick="window.location='/Login'">
                        <span>موجود شد به من اطلاع بده</span>
                        <span uk-icon="notifications"></span>
                    </button>
                }

            }

        </div>
    </div>
    <div class="pr-specs">

    </div>
</div>

<nav class="section-nav">
    <a href="#analisis">بررسی تخصصی</a>
    <a href="#specs">جزئیات فنی</a>
    <a href="#comments">نظر خریداران محصول</a>
</nav>

<div class="mat-card gap-t">
    <a href="#" name="analisis" class="anchor-within-page"></a>
    @Html.Raw(Model.DescriptionLongHtml)
</div>

<div class="details col mat-card gap-t">
    <a href="#" name="specs" class="anchor-within-page"></a>
    <h3 dir="rtl" class="uk-margin-remove-top">جزئیات فنی</h3>
    <table dir="rtl">
        <tbody>
            @if (Model.TblProductPropertyRel.Any())
            {
                @foreach (var item in Model.TblProductPropertyRel.Where(i => i.Value != null))
                {
                    @if (item.Value != null)
                    {
                        <tr>
                            <td>@item.Property.Name</td>
                            <td>@item.Value</td>
                        </tr>
                    }
                }
            }

        </tbody>
    </table>
</div>


@await Component.InvokeAsync("SendCommentView", Model.ProductId)

@if (Model.TblProductCommentRel.Any())
{
    <div class="comment-section mat-card gap-t">
        <a href="#" name="comments" class="anchor-within-page"></a>
        <h3 class="uk-margin-bottom uk-margin-remove-top">نظرات کاربران</h3>
        <ul>
            @foreach (var item in Model.TblProductCommentRel.Where(i => i.Comment.IsValid))
            {
                <li>
                    <partial name="_RepliableComment" model="item.Comment" />
                </li>
            }
        </ul>
    </div>
}

<div class="product-slider gap-t uk-position-relative uk-visible-toggle" tabindex="-1" uk-slider="">

    <div class="title">
        <a href="#" class="dot-container">
            <img src="~/st/v/dot.svg" alt="" class="dot" />
            <h3>محصولات مرتبط</h3>
        </a>
    </div>

    <ul class="uk-slider-items">
        @await Component.InvokeAsync("ShowProductsInView", Model.Brand.BrandId)
    </ul>

    <ul class="navigation uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

</div>
<input type="hidden" class="hidden" name="ProductId" id="ProductId" value="@Model.ProductId" />
@section Scripts{

    <script>

        //var id = $('#brandName').val();
        //$.get('/Product/SliderInProduct/' + id, function (result) {
        //    $('#listProductsSlider').html(result);
        //});

        let selectedColour = document.querySelector('.clr.active');
        function selectColour(sender) {
            selectedColour?.classList.toggle('active');
            sender.classList.toggle('active');
            selectedColour = sender;
            const input = sender.querySelector('input[name=ColorId]');
            const targetInput = document.getElementById('ProductColorId');

            targetInput.value = input.value;
        }

        function comparisonChanged(sender) {

            sender.parentElement.classList.toggle('checked');
            // Toggle Comparison
            $.get("/api/Shop/" + id + "/" + colorId, function (res) {
                $("#countShopCart").html(res);
                // updateShopCart();
            });
        }



        function favouritesChanged(sender) {
            var id = $('#ProductId').val();
            sender.parentElement.classList.toggle('checked');
            $.ajax({
                url: '/Product/BookMark/',
                data: { id: id },
            }).done(function (result) {
                if (result == "true") {
                    UIkit.notification('محصول مورد نظر به علاقه مندی های شما اضافه شد');
                }
                else {
                    UIkit.notification('محصول مورد نظر از علاقه مندی های شما حذف شد');
                }
            })
        }

        function notificationsChanged(sender) {
            sender.parentElement.classList.toggle('checked');
            // Toggle Notification

        }

    </script>

}