@model TblTicket
<form class="ticket-block">
    <div class="top">
        <span class="date">
            @Model.DateSubmited.Value.DateToShamsi()
        </span>
    </div>
    <p class="text @((Model.IsAnswer || Model.IsAnswerd ? "uk-text-left" : "")) ">
        <span>
            موضوع:
        </span>
        @Model.Title
    </p>
    <p class="text @((Model.IsAnswer || Model.IsAnswerd ? "uk-text-left" : ""))">
        <span>
            متن:
        </span>
        @Model.Body
    </p>
</form>