@model IEnumerable<TblOrder>
@{
    ViewData["Title"] = "سابقه خرید";
    Layout = "/Areas/User/Views/Shared/_Layout.cshtml";
}

<div class="col g-3">
    @if (Model.Any())
    {
        @foreach (var item in Model)
        {
            <table class="table mat-card" dir="rtl">
                <thead>
                    <tr>
                        <th>
                            <label class="date">@item.DateSubmited.DateToShamsi()</label>
                        </th>
                        <th></th>
                        <th></th>
                        <th>
                            <label class="date">شماره فاکتور @item.OrdeId#  </label>
                        </th>
                    </tr>
                    <tr>
                        <th>نام محصول</th>
                        <th>تعداد</th>
                        <th>فی</th>
                        <th>قیمت</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var j in item.TblOrderDetail)
                    {
                        <tr>
                            <td>
                                <a href="/Product/@j.ProductId/@j.Product.Name.Replace(" ","-")" class="link-text">@j.Product.Name</a>
                            </td>
                            <td>@j.Count</td>
                            <td>@j.Price</td>
                            <td>@((j.Count* j.Price).ToString("#,0")) تومان</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td>تخفیف </td>
                        <td></td>
                        <td>@item.PaymentStatus.ToString("#,0")   تومان</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>هزینه ارسال</td>
                        <td></td>
                        <td>@item.SendPrice.Value.ToString("#,0")   تومان</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>@item.TblOrderDetail.Sum(i => i.Count)</td>
                        <td>جمع کل</td>
                        <td>@item.FinalPrice.ToString("#,0") تومان</td>
                    </tr>
                </tfoot>
            </table>
        }

    }

</div>
