@model VmComparison
<div class="mat-card details">
    <table dir="rtl">
        <thead>
            <tr>
                <th></th>
                @if (Model.Items.Any())
                {

                    @foreach (var item in Model.Items)
                    {
                        <th uk-lightbox>
                            <a href="~/Images/ProductMain/@item.ImageName">
                                <img src="~/Images/ProductMain/@item.ImageName" alt="" />
                                <h5>@item.Name</h5>
                                @if (item.PriceAfterDiscount == 0)
                                {
                                    <label> @item.PriceBeforeDiscount.Value.ToString("#,0")</label>
                                }
                                else
                                {
                                    <label> @item.PriceBeforeDiscount.Value.ToString("#,0")</label>
                                    <label> @item.PriceAfterDiscount.Value.ToString("#,0")</label>
                                }
                            </a>
                        </th>
                    }
                }
            </tr>
        </thead>
        @*@{

                List<TblProperty> listFeatures = ViewBag.features as List<TblProperty>;
                List<TblProductPropertyRel> productFeatures = ViewBag.productFeatures as List<TblProductPropertyRel>;
            }*@
        <tbody>
            @foreach (var item in Model.Features)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    @foreach (var feature in Model.Items)
                    {
                        <td>
                            @string.Join(" - ", Model.ProductFeatures.Where(f => f.ProductId == feature.ProductID && f.PropertyId == item.PropertyId).Select(f => f.Value).ToList())
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>