<!DOCTYPE html>
<html lang="fa">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="@(ViewData["Description"] ?? "سایت خرید و فروش آنلاین گوشی های موبایل به صورت اقساطی")">
    <meta name="keywords" content="@(ViewData["Keywords"] ?? "قصر موبایل، گوشی، تلفن، خرید، آنلاین، اقساطی")">
    <meta name="author" content="صدرا محمدی، ینال احمدزاده، مهدی سهندی">

    <title>@(ViewData["Title"] ?? "قصر موبایل")</title>

    <link href="~/css/uikit.min.css" rel="stylesheet" />
    <link href="~/css/Controls.min.css" rel="stylesheet" />

    @RenderSection("Styles", false)

</head>
<body>

    <!-- This is the off-canvas -->
    <div id="offCanvas" uk-offcanvas="overlay: true;flip: true">
        <div class="uk-offcanvas-bar col">

            <img src="~/st/r/logo.jpg" width="92" height="92" class="uk-margin-auto" alt="" />

            <ul>
                <li>
                    <a href="/">
                        <span class="text-3" uk-icon="home"></span>
                        <span>خانه</span>
                    </a>
                </li>
                <li>
                    <a href="/Forum">
                        <span class="text-3" uk-icon="chatbubbles"></span>
                        <span>تالار گفتگو</span>
                    </a>
                </li>
                <li>
                    <a href="/Contact">
                        <span class="text-3" uk-icon="call"></span>
                        <span>تماس با ما</span>
                    </a>
                </li>
                <li>
                    <a href="/Affiliate">
                        <span class="text-3" uk-icon="flag"></span>
                        <span>شعب ما</span>
                    </a>
                </li>
                <li>
                    <a href="/Blog">
                        <span class="text-3" uk-icon="browsers"></span>
                        <span>وبلاگ ها</span>
                    </a>
                </li>
                <li>
                    <a href="/Gallery">
                        <span class="text-3" uk-icon="image"></span>
                        <span>گالری</span>
                    </a>
                </li>
            </ul>

        </div>
    </div>

    <div class="header">
        <img class="biscuit" src="~/st/r/TopMemphis.png" width="1366" height="59" alt="عکس بالا صفحه" />
        <div class="top">
            <div class="uk-container rowr">
                <a href="/" class="logo">
                    <img src="~/st/r/logo.jpg" width="48" height="48" alt="لوگو فصر موبایل" />
                </a>
                <div class="search">
                    <span onclick="window.location = '/Search';//SEARCH" class="link-text" uk-icon="search"></span>
                    <input id="txtSearchMain" class="entry-invis"
                           type="text" placeholder="جستجو..."
                           aria-label="جستجو"
                           oninput="SearchInput(this)" />
                </div>
                <div uk-drop="boundary: .top; pos:bottom-justify; offset: 12; mode: none"
                     id="dropSearch">
                    <div class="drop-content mat-border mat col">
                        <a href="">
                            این یک <strong>گزینه</strong> می باشد
                        </a>
                        <a href="">
                            این یک <strong>گزینه</strong> می باشد
                        </a>
                        <a href="">
                            این یک <strong>گزینه</strong> می باشد
                        </a>
                    </div>
                </div>

                <div class="cart">
                    <span class="label">سبد خرید</span>
                    <div class="badge">
                        <span id="countShopCart"></span>
                    </div>
                    <button>
                        <span uk-icon="cart-outline"></span>
                    </button>
                </div>
            </div>

        </div>
        <div class="bottom">
            <div class="uk-container rowr">
                <nav>
                    <button uk-icon="grid-outline" onclick="CategoryClick()"></button>
                    <button uk-icon="menu-outline" uk-toggle="target: #offCanvas" type="button" class="uk-margin-small-right show-on-threshold"></button>
                    <a href="/">خانه</a>
                    <a href="/Forum">تالار گفتگو</a>
                    <a href="/Contact">تماس با ما</a>
                    <a href="/About">درباره ما</a>
                    <a href="/Affiliate">شعب ما</a>
                    <a href="/Blog">وبلاگ ها</a>
                    <a href="/Gallery">گالری</a>
                </nav>
                @if (User.Identity.IsAuthenticated)
                {
                    @if (User.Claims.Last().Value == "user")
                    {
                        <a href="" class="profile">
                            <span>پروفایل</span>
                            <span uk-icon="person-circle-outline"></span>
                        </a>

                        <div uk-drop="boundary: .profile; pos:bottom-left; offset: 20; mode: hover,click">
                            <div class="mat-card">
                                <ul class="col g-2">
                                    <li>
                                        <a class="link-text" href="/User/Profile">پروفایل</a>
                                    </li>
                                    <li>
                                        <a class="link-text" href="/User/Cart">سبد خرید</a>
                                    </li>
                                    <li>
                                        <a class="link-text" href="/LogOut">خروج</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    }
                    else if (User.Claims.Last().Value == "employee")
                    {
                        <a href="" class="profile">
                            <span>پروفایل</span>
                            <span uk-icon="person-circle-outline"></span>
                        </a>

                        <div uk-drop="boundary: .profile; pos:bottom-left; offset: 20; mode: hover,click">
                            <div class="mat-card">
                                <ul class="col g-2">
                                    <li>
                                        <a class="link-text" href="">پروفایل</a>
                                    </li>
                                    <li>
                                        <a class="link-text" href="/LogOut">خروج</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    }
                    else if (User.Claims.Last().Value == "admin")
                    {
                        <a href="" class="profile">
                            <span>پروفایل</span>
                            <span uk-icon="person-circle-outline"></span>
                        </a>

                        <div uk-drop="boundary: .profile; pos:bottom-left; offset: 20; mode: hover,click">
                            <div class="mat-card">
                                <ul class="col g-2">
                                    <li>
                                        <a class="link-text" href="">پروفایل</a>
                                    </li>
                                    <li>
                                        <a class="link-text" href="/LogOut">خروج</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <a href="/Login" class="profile">
                        <span>ورود</span>
                        <span uk-icon="person-circle-outline"></span>
                    </a>
                }


                @*<a href="" class="enter">
                                ورود / ثبت نام
                    </a>*@

            </div>
        </div>
        <div id="dropbar">
            <div class="uk-container">
                <div class="grid" onclick="CategoryClick()">
                    @await Component.InvokeAsync("CategoryListView")
                </div>
            </div>
        </div>
    </div>
    <div role="none" class="space-nav-header gap-b"></div>

    <!-- Single means the layout has only one Column -->
    @if (ViewData["Single"] == null)
    {
        <div class="m uk-container">
            <main class="m-content">
                @RenderBody()
            </main>
            <aside class="m-aside">
                @RenderSection("Aside", false)
            </aside>
        </div>
    }
    else if (ViewData["Single"] != null)
    {
        <div class="uk-container">
            @RenderBody()
        </div>
    }

    <footer>
        <div class="uk-container col uk-light">
            <div class="grid">
                <div class="certificates">
                    <h4>مجوز ها</h4>
                    <div class="slideshow mat-border" uk-slideshow="autoplay: true; autoplay-interval: 2500; ratio:1:1.12">
                        <ul class="uk-slideshow-items mat-border">
                            <li>
                                <img src="~/st/r/enamad.jpg" uk-tooltip="در دست اقدام" alt="" uk-cover>
                            </li>
                            <li>
                                <img src="~/st/r/resane.jpg" uk-tooltip="در دست اقدام" alt="" uk-cover>
                            </li>
                        </ul>
                        <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin-bottom"></ul>
                    </div>

                </div>
                <div class="links">
                    <h4>لینک ها</h4>
                    <ul>
                        <li>
                            <a href="/">خانه</a>
                        </li>
                        <li>
                            <a href="/#faq">سوالات متداول</a>
                        </li>
                        <li>
                            <a href="/Contact">تماس با ما</a>
                        </li>
                        <li>
                            <a href="/Affiliates">مشاهده نمایندگی ها</a>
                        </li>
                        <li>
                            <a href="">پشتیبانی و تیکت</a>
                        </li>
                    </ul>
                </div>
                <div class="intro">
                    <h4>معرفی سایت</h4>
                    <p>
                        می‌کنند تا صرفا به مشتری یا صاحب کار خود نشان دهند که صفحه طراحی یا صفحه بندی شده بعد از اینکه متن در آن قرار گیرد چگونه به نظر می‌رسد و قلم‌ها و اندازه‌بندی‌ها چگونه در نظر گرفته شده‌است.
                    </p>
                </div>
                <div class="contact">
                    <h4>تماس با ما</h4>
                    <ul>
                        <li>
                            <span>۰۲۱-۴۲۴۰۹۰۰۰</span>
                        </li> 
                        <li>
                            <span>تبریز - ولیعصر - سربالایی ولیعصر - خیابان حافظ</span>
                        </li>
                        <li>
                            <span>GhasrMobile@Gmail.Com</span>
                        </li>
                    </ul>
                    <div class="media">
                        <a href="/"><img src="~/st/v/footer/Instagram.svg" alt="" /></a>
                        <a href="/"><img src="~/st/v/footer/Telegram.svg" alt="" /></a>
                        <a href="/"><img src="~/st/v/footer/Linkedin.svg" alt="" /></a>
                        <a href="/"><img src="~/st/v/footer/Titter.svg" alt="" /></a>
                    </div>
                </div>
            </div>
            <hr class="uk-margin-medium-top" />
            <p class="uk-text-center text-4">
                کلیه حقوق این سایت متعلق به شرکت قصر موبایل می باشد، طراحی و توسعه توسط
                <strong><a href="https://arvintavco.com">شرکت ایده پرداز آروین تاو</a></strong>
            </p>
        </div>
    </footer>
    <link href="~/css/Load.css" rel="stylesheet" />
    <!-- #Loadinh -->
    <div id="overlay">
        <div class="cv-spinner">
            <span class="spinner"></span>
        </div>
    </div>
    <!--Pwa-->
    @*<script src="~/app.js"></script>*@

    <script src="~/Jquery/jquery-3.4.1.min.js"></script>
    <script src="~/js/uikit.min.js"></script>
    <script src="~/js/uikit-icons.js"></script>
    <script src="~/js/main.js"></script>

    <script src="~/Validate/jquery.validate.min.js"></script>
    <script src="~/Validate/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Validate/jquery.validate.unobtrusive.js"></script>
    <script src="~/Validate/jquery.unobtrusive-ajax.min.js"></script>


    <script>
        function LoadingRun(form) {
            if (!$(form).valid()) return;
            $("#overlay").fadeIn(300);
        }
        function LoadingEnd(form) {
            $("#overlay").fadeOut(300);
            $(form)[0].reset();
        }
        function SearchInput(input) {
            const val = input.value.trim();
            const drop = document.getElementById('dropSearch');
            const list = document.querySelector('.drop-content');

            if (val.length <= 2) {
                UIkit.drop(drop).hide();
                return
            };

            fetch('/q/' + val).then(j => {
                j.json().then(i => {

                    list.innerHTML = null;

                    i.forEach(b => {
                        list.innerHTML +=
                            `<a href="/">${b.replace(val, `<strong>${val}</strong>`)}</a>`;
                    })

                    if (list.innerHTML !== "")
                        UIkit.drop(drop).show();
                    else {
                        UIkit.drop(drop).hide();
                    }
                })
            });

        }

        const dropbar = document.getElementById('dropbar');
        let IsCategoryOpen = false;
        function CategoryClick() {

            if (IsCategoryOpen) {
                // if open > close
                dropbar.style.transition = 'all ease .3s';
                dropbar.style.maxHeight = '0';
                dropbar.querySelector('.grid').style.opacity = '0';
            }
            else {
                // if closed > open
                dropbar.style.transition = 'all ease .6s';
                dropbar.style.maxHeight = 'calc(100vh - 100px)';
                dropbar.querySelector('.grid').style.opacity = '1';
            }
            IsCategoryOpen = !IsCategoryOpen;

        }

    </script>

    <script>
        //shop
        $(function () {
            countShopCart();
        });

        function countShopCart() {
            $.get("/api/Shop", function (res) {
                $("#countShopCart").html(res);
            });
        }

        function AddToCart(id) {
            $.get("/api/Shop/" + id, function (res) {
                $("#countShopCart").html(res);
               // updateShopCart();
            });
        }
        function updateShopCart() {
            $("#showCart").load("/ShopCart/ShowCart").fadeOut(800).fadeIn(800);
        }


        function commandOrder(id, count) {
            $.ajax({
                url: "/ShopCart/CommandOrder/" + id,
                type: "Get",
                data: { count: count }
            }).done(function (res) {
                $("#showOrder").html(res);
            });
        }
        /////
        function share(text) {

            if (navigator.share) {
                navigator.share({
                    title: 'WebShare API Demo',
                    url: text
                }).then(() => {
                    console.log('Thanks for sharing!');
                })
                    .catch(console.error);
            } else {
                copy(text, 'لینک اشتراک کپی شد');
            }

        }

        function copy(text, message) {
            var textArea = document.createElement("textarea");
            textArea.value = text;

            // Avoid scrolling to bottom
            textArea.style.top = "0";
            textArea.style.left = "0";
            textArea.style.position = "fixed";

            document.body.appendChild(textArea);
            textArea.focus();
            textArea.select();

            try {
                var successful = document.execCommand('copy');
            } catch (err) {
            }

            document.body.removeChild(textArea);

            if (message === undefined || message === null) return;

            UIkit.notification(message);
        }

    </script>

    @RenderSection("Scripts", false)

</body>
</html>
