<!DOCTYPE html>
<html lang="fa">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="@(ViewData["Description"] ?? "سایت خرید و فروش آنلاین گوشی های موبایل به صورت اقساطی")">
    <meta name="keywords" content="@(ViewData["Keywords"] ?? "قصر موبایل، گوشی، تلفن، خرید، آنلاین، اقساطی")">
    <meta name="author" content="صدرا محمدی، ینال احمدزاده، مهدی سهندی">

    <title>@(ViewData["Title"] ?? "قصر موبایل")</title>

    <link href="~/css/uikit.min.css" rel="stylesheet" />
    <link href="~/css/Controls.min.css" rel="stylesheet" />

    @RenderSection("Styles", false)

</head>
<body>

    <div class="header">
        <img src="~/st/r/TopMemphis.png" width="1366" height="59" alt="عکس بالا صفحه" />
        <div class="top">
            <div class="uk-container rowr">
                <a href="/" class="logo">
                    <img src="~/st/r/logo.jpg" width="48" height="48" alt="لوگو فصر موبایل" />
                </a>
                <div class="search">
                    <span uk-icon="search"></span>
                    <input id="txtSearchMain" class="entry-invis" type="text" placeholder="جستجو..." aria-label="جستجو" />
                </div>
                <div class="cart">
                    <span class="label">سبد خرید</span>
                    <div class="badge">
                        <span>12</span>
                    </div>
                    <button>
                        <span uk-icon="cart-outline"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="uk-container rowr">
                <nav class="rowr">
                    <button uk-icon="grid-outline"></button>
                    <a href="/">خانه</a>
                    <a href="/Forum">تالار گفتگو</a>
                    <a href="/Home/Contact">تماس با ما</a>
                    <a href="/Blog">وبلاگ ها</a>
                    <a href="/Home/About">شعب ما</a>
                    <a href="/Gallery">گالری</a>
                </nav>
                <a href="" class="profile">
                    <span>پروفایل</span>
                    <span uk-icon="person-circle-outline"></span>
                </a>

                @*<a href="" class="enter">
                                ورود / ثبت نام
                    </a>*@

            </div>
        </div>
    </div>
    <div role="none" class="space-nav-header gap-b"></div>

    <!-- Single means the layout has only one Column -->
    @if (ViewData["Single"] == null)
    {
        <div class="m uk-container">
            <main class="m-content">
                @RenderBody()
            </main>
            <aside class="m-aside">
                @RenderSection("Aside", false)
            </aside>
        </div>
    }
    else if (ViewData["Single"] != null)
    {
        <div class="uk-container">
            @RenderBody()
        </div>
    }

    <footer>
        <div class="uk-container col uk-light">
            <div class="grid">
                <div class="certificates">
                    <h4>مجوز ها</h4>
                    <div class="slideshow mat-border" uk-slideshow="autoplay: true; autoplay-interval: 2500; ratio:1:1">
                        <ul class="uk-slideshow-items mat-border">
                            <li>
                                <img src="https://picsum.photos/1" alt="" uk-cover>
                            </li>
                            <li>
                                <img src="https://picsum.photos/1" alt="" uk-cover>
                            </li>
                            <li>
                                <img src="https://picsum.photos/1" alt="" uk-cover>
                            </li>
                        </ul>
                        <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin-bottom"></ul>
                    </div>

                </div>
                <div class="links">
                    <h4>لینک ها</h4>
                    <ul>
                        <li>
                            <a href="">خانه</a>
                        </li>
                        <li>
                            <a href="">سوالات متداول</a>
                        </li>
                        <li>
                            <a href="">تماس با ما</a>
                        </li>
                        <li>
                            <a href="">مشاهده نمایندگی ها</a>
                        </li>
                        <li>
                            <a href="">پشتیبانی و تیکت</a>
                        </li>
                    </ul>
                </div>
                <div class="intro">
                    <h4>معرفی سایت</h4>
                    <p>
                        می‌کنند تا صرفا به مشتری یا صاحب کار خود نشان دهند که صفحه طراحی یا صفحه بندی شده بعد از اینکه متن در آن قرار گیرد چگونه به نظر می‌رسد و قلم‌ها و اندازه‌بندی‌ها چگونه در نظر گرفته شده‌است.
                    </p>
                </div>
                <div class="contact">
                    <h4>تماس با ما</h4>
                    <ul>
                        <li>
                            <span>۰۲۱-۴۲۴۰۹۰۰۰</span>
                        </li>
                        <li>
                            <span>تبریز - ولیعصر - سربالایی ولیعصر - خیابان حافظ</span>
                        </li>
                        <li>
                            <span>GhasrMobile@Gmail.Com</span>
                        </li>
                    </ul>
                    <div class="media">
                        <a href="/"><img src="~/st/v/footer/Instagram.svg" alt="" /></a>
                        <a href="/"><img src="~/st/v/footer/Telegram.svg" alt="" /></a>
                        <a href="/"><img src="~/st/v/footer/Linkedin.svg" alt="" /></a>
                        <a href="/"><img src="~/st/v/footer/Titter.svg" alt="" /></a>
                    </div>
                </div>
            </div>
            <hr class="uk-margin-medium-top" />
            <p class="uk-text-center text-4">
                کلیه حقوق این متعلق به شرکت قصر موبایل می باشد، طراحی و توسعه توسط
                <strong><a href="https://arvintavco.com">شرکت ایده پرداز آروین تاو</a></strong>
            </p>
        </div>
    </footer>

    <!--Pwa-->
    @*<script src="~/app.js"></script>*@

    <script src="~/js/uikit.min.js"></script>
    <script src="~/js/uikit-icons.js"></script>

    @RenderSection("Scripts", false)

</body>
</html>
