@model TblProduct
@{
    Random r = new Random();

    var raiting = (Model.TblRate.Count > 0) ? (Model.TblRate.Sum(i => i.Rate) / Model.TblRate.Count) : 0;
}

<div class="product">
    <div class="star-container" uk-tooltip="@raiting">
        <div class="Stars" style="--rating:  @raiting"></div>
    </div>

    <span class="people">(@Model.TblRate.Count)</span>
    <a href="/Product/@Model.ProductId/@Model.Name.Replace(" ","-")" class="link-text">
        <img src="~/Images/ProductMain/@Model.MainImage" alt="" width="200" height="200" />
    </a>
    <a href="/Product" class="link-text">
        <h3 class="name" dir="rtl">
            @Model.Name
        </h3>
    </a>
    <a href="/Search" class="category link-text">@Model.Catagory.Name </a>
    @if (Model.PriceAfterDiscount == 0)
    {
        <span class="price">
            <span class="t">تومان</span>
            <span>@Model.PriceBeforeDiscount.Value.ToString("#,0")</span>
        </span>
    }
    else
    {
        <span class="discount">
            <span>@Model.PriceBeforeDiscount.Value.ToString("#,0")</span>
        </span>
        <span class="price">
            <span class="t">تومان</span>
            <span>@Model.PriceAfterDiscount.Value.ToString("#,0")</span>
        </span>
    }

</div>