@model TblTopic
@{
    ViewData["Title"] = " تالار گفتگو- " + Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["TopicId"] = Model.TopicId;
}

@section Styles{

    <link href="~/css/pages/forum.min.css" rel="stylesheet" />

}

@section Aside{


    @await Component.InvokeAsync("AdView")
    @await Component.InvokeAsync("AdView")
}

<nav class="breadcrumb uk-padding-remove">
    <a href="/Forum">تالار گفتگو</a>
    <a href="/" class="active">صفحه اصلی</a>
</nav>

<div class="forum-block">
    <form id="ajaxresultSendCommentTopic" class="content" action="/Forum/SendComment" method="post"
          data-ajax="true"
          data-ajax-method="POST"
          data-ajax-mode="replace"
          data-ajax-complete="SendCommentTopic()"
          data-ajax-update="#ajaxresultSendCommentTopic">
        <input type="hidden" asp-for="TopicId" value="@Model.TopicId" />
        <div class="rowr">
            <h5>@Model.Title</h5>
            <div class="rowr uk-margin-auto-right">
                <span class="uk-margin-small-left text-2">@Model.Client.Name</span>
                <span class="text-2">@(Model.DateCreated.HasValue ? Model.DateCreated.Value.DateToShamsi() : "")</span>
            </div>
        </div>
        <div class="forum-body" uk-lightbox>
            <p dir="rtl">
                @Model.Body
            </p>
            <div class="fg-col uk-margin-medium-top">
                <textarea name="Body" id="Body" class="entry" placeholder="نظر شما..." maxlength="300" required></textarea>
            </div>
        </div>
        <div class="action uk-margin-small-top">
            <span class="row uk-margin-auto-top">
                <span uk-icon="ratio:.8;icon:chatbox-ellipses-outline"></span>
                <span> @Model.TblTopicCommentRel.Where(i => i.Comment.IsValid).ToList().Count </span>
            </span>

            <a class="link-text uk-margin-auto-top" href="javascript:share(location.href,'@Model.Title')" uk-tooltip="اشتراک گذاری" uk-icon="ratio:.8;icon:share-social-outline"></a>

            @if (User.Identity.IsAuthenticated)
            {
                <button class="btn btn-dashed uk-margin-auto-top uk-margin-auto-left">ارسال</button>
            }
            else
            {
                <a href="/Login" class="btn btn-dashed uk-margin-auto-top uk-margin-auto-left">ارسال</a>
            }

        </div>
    </form>
    <div class="controls">
        <div class="col">
            <button class="link-text up" uk-icon="chevron-up" onclick="VoteUp(@Model.TopicId);"></button>
            <label id="Vote@(Model.TopicId)">@Model.VoteCount</label>
            <button class="link-text down" uk-icon="chevron-down" onclick="VoteDown(@Model.TopicId);"></button>
        </div>
    </div>
</div>

<div class="comment-section mat-card">
    <h3 class="uk-margin-bottom">نظرات کاربران</h3>
    <ul>
        @foreach (var item in Model.TblTopicCommentRel.Where(i => i.Comment.IsValid && i.Comment.ParentId == null).OrderByDescending(i => i.CommentId))
        {
            <li>
                <partial name="_RepliableComment" model="item.Comment" />
            </li>
        }
    </ul>
</div>


@section Scripts{
    <script src="~/js/BjaxLib.js"></script>

    <script>

        function SendCommentTopic() {
            $("textarea").val("");
            UIkit.notification('پیام شما ثبت شد');
            LoadingEnd();
        }

        function VoteUp(val) {

            //#region buts
            var vote = document.getElementById('Vote' + val);
            const up = vote.parentElement.querySelector('.up');
            const down = vote.parentElement.querySelector('.down');

            //#endregion

            //#region localStorage

            let cacheVote = votelist.filter(vote => vote.id === val)[0];

            if (cacheVote?.isUp) return;
            up.classList.remove('link-active');
            down.classList.remove('link-active');

            if (cacheVote)
                votelist.splice(votelist.indexOf(cacheVote), 1);

            up.classList.add('link-active');

            votelist.push({ id: val, isUp: true });
            // update local storage
            localStorage.setItem(votelistKey, JSON.stringify(votelist));

            //#endregion

            var result = Bjax("/Forum/VoteUp?id=", val, "SP");
            if (result) {
                var vote = document.getElementById('Vote' + val);
                vote.innerText = parseInt(vote.innerText) + 1;
            } else {
                UIkit.notification('ابتدا وارد سایت شوید');
            }
        }

        function VoteDown(val) {

            //#region buts
            var vote = document.getElementById('Vote' + val);
            const up = vote.parentElement.querySelector('.up');
            const down = vote.parentElement.querySelector('.down');

            //#endregion

            //#region localStorage

            let cacheVote = votelist.filter(vote => vote.id === val)[0];

            if (cacheVote)
                if (!cacheVote.isUp) return;

            up.classList.remove('link-active');
            down.classList.remove('link-active');

            if (cacheVote)
                votelist.splice(votelist.indexOf(cacheVote), 1);

            down.classList.add('link-active');

            votelist.push({ id: val, isUp: false });
            // update local storage
            localStorage.setItem(votelistKey, JSON.stringify(votelist));

            //#endregion

            var result = Bjax("/Forum/VoteDown?id=", val, "SP");
            if (result) {
                vote.innerText = parseInt(vote.innerText) - 1;
            } else {
                UIkit.notification('ابتدا وارد سایت شوید');
            }
        }

        // Vote List
        const votelistKey = "votelist";
        // [{id,isUp},{5,true}]
        let votelist = JSON.parse(localStorage.getItem(votelistKey)) || [];
        let currentVote = votelist?.filter(x => x.id == @Model.TopicId)[0];

        if (currentVote.isUp) {
            const up = document.querySelector('.up');
            up.classList.add('link-active');
        } else {
            const down = document.querySelector('.down');
            down.classList.add('link-active');
        }

    </script>

}
